<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <h1>点击对应区域上传企业信息</h1>
      <div class="row">
        <div class="col-md-4">
          <div class="upload-area area-pd-lg" data-key="license">
            <p class="line-lg">营业执照</p>
            <p class="line-lg">点击此区域</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="upload-area area-pd-sm" data-key="org_license">
            <p class="line-lg">组织机构证</p>
            <p class="line-lg">点击此区域</p>
            <p class="line-sm">（三证或五证合一上传营业执照）</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="upload-area area-pd-sm" data-key="tax_license">
            <p class="line-lg">税务登记证</p>
            <p class="line-lg">点击此区域</p>
            <p class="line-sm">（三证或五证合一上传营业执照）</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="upload-area" data-key="bank_license">
            <p class="line-lg">开户许可证</p>
            <p class="line-lg">点击此区域</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="upload-area" data-key="legal_id_front">
            <p class="line-lg">法人身份证正面</p>
            <p class="line-lg">点击此区域</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="upload-area" data-key="legal_id_back">
            <p class="line-lg">法人身份证反面</p>
            <p class="line-lg">点击此区域</p>
          </div>
        </div>
      </div>
      <div class="row">
        <button id="submit-btn" class="btn" onclick="javascript:;">生成并保存成压缩文件</button>
      </div>
    </div>
  </body>
</html>
