<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <h1>请将企业信息拖入对应方框中</h1>
      <div class="row">
        <div class="col-md-4">
          <div class="upload-area" data-key="license">
            <p>营业执照</p>
            <p>点击此区域</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="upload-area" data-key="org_license">
            <p>组织机构证</p>
            <p>点击此区域</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="upload-area" data-key="tax_license">
            <p>税务登记证</p>
            <p>点击此区域</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="upload-area" data-key="bank_license">
            <p>开户许可证</p>
            <p>点击此区域</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="upload-area" data-key="legal_id_front">
            <p>法人身份证正面</p>
            <p>点击此区域</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="upload-area" data-key="legal_id_back">
            <p>法人身份证反面</p>
            <p>点击此区域</p>
          </div>
        </div>
      </div>
      <div class="row">
        <button id="submit-btn" class="btn" onclick="javascript:;">完成</button>
      </div>
    </div>
  </body>
</html>
